/******************************************
/* COLORS
/*******************************************/

$c1 : #C2C2C2;
$text : darken($c1, 40%);
$c2 : red;
$c3 : #b13537;
$c4 : #66df9a;



.bg-c1{
  background-color: $c1;
}

.bg-c1-light{
  background-color: lighten($c1, 20%);
}

.bg-c2{
  background-color: $c2;
}
.bg-c3{
  background-color: $c3;
}
.bg-c4{
  background-color: $c4;
}


.c-c1{
  color: $c1;
}
.c-c2{
  color: $c2;
}
.c-c3{
  color: $c3;
}
.c-c4{
  color: $c4;
}
.c-w{
  color: white;
}

/******************************************
/* PADDING & MARGIN
/*******************************************/


$m: 20px;
$p: 20px;

.m-tb {
  margin: $m 0;
}

.p-tb {
  padding: $m;
}






/******************************************
/* BASE STYLES
/*******************************************/


body {
     font-size: 13px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     color: $text;
}

ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 h1 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

a {
  color: $text;
}

a:hover
{
    color:#474747;
    text-decoration: none;
}

.debugger {
  outline: 1px solid red;
}

.hidden {
    visibility: hidden;
}

.hidden {
    visibility: hidden;
}

.inl {
  display: inline-block;
}

// position

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;

}

.button {
  border:1px solid $c1;
  cursor:pointer;
  color:$c1;
  font-size:17px;
  padding:8px;
  background-color: white;
  :hover{
  color: white;
  text-decoration:none;
  background-color: $c1;
  }
  :active{
  }
}

.center {
  width: 150px;
  margin: auto;
}

/******************************************
/* NAV
/*******************************************/
.logo {
 font-size: 24px;
 margin: 0;
 padding-top: 8px;
 weight: 800;
}



/******************************************
/* FILTER
/*******************************************/


.type-icon {
  width:70px;
  height:70px;
  border-radius:50px;
  right:30px;
  top:-15px;
  padding-top: 20px;
}

.day {
  font-size: 24px;
}

/******************************************
/* MAP
/*******************************************/
body,html{
  height:100%;
}

.googlemap {
  height:100vh;
min-height:100vh;
position: fixed;
}

.mapbutton {
  right: 5px;
  top: 10px;
}

/******************************************
/* ITEM
/*******************************************/

.listing-img {
 width: 100%;
 height: 200px;
}

.user-img-s {
  width:70px;
  height:70px;
  border-radius:50px;
  bottom: 0;
  right: 0;
  z-index: 1000;
}


.showmeetup {
  right: 0;
  bottom: 0;
  background-color: red;
}


/******************************************
/* USER
/*******************************************/

.user-img {
border: solid 1px white;
height: 150px;
width: 150px;
}


