
$color-1 : #9ba174;
$color-2 : #f9dda8;
$color-3 : #b13537;
$color-4 : #66df9a;

.filters {
  background-color: red;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-size: 13px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
}


h3 {
  font-size: 16px;
}

a {

}

a:hover
{
    color:#474747;
    text-decoration: none;
}

.debugger {
  outline: 1px solid red;
}

/******************************************
/* NAV
/*******************************************/




/******************************************
/* MAP
/*******************************************/


/******************************************
/* ITEM
/*******************************************/


/******************************************
/* USER
/*******************************************/



