<li class="listing row m-tb">
  <!-- FRONTSIDE -->
  <div class="listing-front col-sm-12 show">
    <div class="bg-c1 p-tb">
      <div class="type-icon bg-c1-light abs">
        <p><img src="<%= asset_path 'i-produce.svg' %>"></p>
      </div>

      <div class="row">
        <div class="col-xs-5">
          <div>

          </div>
        </div>
        <div class="col-xs-6">
          <div>
            <h3><%= l.title %></h3>
            <p><%= l.description %></p>
            <p>Quantity (aprox.): <%= l.quantity %></p>
            <br><br><br>
            <a href="">show meetups</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BACKSIDE -->
  <div class="listing-events col-sm-12 hidden">
    <div class="bg-c1 p-tb">
      <a class="flip" href="">return</a>  <!-- placeholder -->
      <div class="row">
        <div class="listing-event col-xs-6">
          <div>
            <h3><span class="map-icon">Icon</span>Gathering Title</h3>
            <p>Address line 1</p>
            <p>Address line 2</p>
            <p><span>9:00AM-2:00PM</span>Date of event</p>
            <a href="">Join Gathering</a>
          </div>
        </div>
        <div class="listing-event col-xs-6">
          <div>
            <h3><span class="map-icon">Icon</span>Gathering Title</h3>
            <p>Address line 1</p>
            <p>Address line 2</p>
            <p><span>9:00AM-2:00PM</span>Date of event</p>
            <a href="">Join Gathering</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</li>




