<li class="listing">
  <div class="type-icon"> Icon</div>
  <div class="listing-front">
    <img class="listing-img" src="http://i2.kym-cdn.com/entries/icons/original/000/000/184/Spaghetti_cat.JPG"> <!--large image of product -->
    <img class="user-img-s"src=""> <!--small image of user -->

    
    <h3><%= l.title %></h3>
    <p><%= l.description %></p>
    <p><%= l.quantity %></p>
    <a href="">show meetups</a><!--  This flips div into displaying meetups -->
  </div>
  <div class="listing-events"> <!-- On flip, hides div-icon -->
    <div class="listing-event">
      <h3><span class="map-icon">Icon</span>Gathering Title</h3>
      <p>Address line 1</p>
      <p>Address line 2</p>
      <p><span>9:00AM-2:00PM</span>Date of event</p>
      <a href="">Join Gathering</a>
    </div>
    <div class="listing-event">
      <h3><span class="map-icon">Icon</span>Gathering Title</h3>
      <p>Address line 1</p>
      <p>Address line 2</p>
      <p><span>9:00AM-2:00PM</span>Date of event</p>
      <a href="">Join Gathering</a>
    </div>
  </div>
</li>